<div class="container justify-content-center m-5">
    <h3>Acerca de mí</h3>
        <div class="card" style="width: 25rem; justify-content: center;">
            <img src="https://img.freepik.com/vector-gratis/panda-lindo-bambu_138676-3053.jpg?w=2000" alt="...">
            <div class="card-body">
                <p class="card-text">Desarrolladora Full-Stack Trainee y Relacionadora Pública, con experiencia en
                    generación de contenido, desarrollo de proyectos y administración de páginas web. Mis hobbies: Leer,
                    ver series y dormir. </p>
                    <div class="btn btn-info text-white w-40 mt-4 fw-semibold shadow-sm">
                        Volver
                    </div>
            </div>
        </div>
        
</div>